<div class="container">
  <h1>ButtonStroked</h1>
  <p>
      O <strong>ButtonStroked</strong> é um botão retangular com contorno sem elevação
  </p>

  <h1>Exemplo de Uso</h1>
  <pre>
      <code *ngFor="let code of codes">
          {{ code }}
      </code>
  </pre>

  <h1>Tente você mesmo</h1>
  <ButtonStroked color="primary">
    <div class="flex flex-row flex-wrap align-items-center">
      <Icon fontIcon="home"></Icon>
      <div class="text-medium">
         Texto simples para exemplificar
      </div>
    </div>
  </ButtonStroked>
</div>