<div class="container">
  <mat-chip-listbox aria-label="Chip selection" class="matChipListbox" [disabled]="isDisabled">
      <mat-chip-option *ngFor="let chip of chips"
                       [color]="chip.color || 'primary'"
                       [selected]="formControl.value?.includes(chip.cod)"
                       [disabled]="chip.disabled"
                       (selectionChange)="toggleSelection(chip.cod, $event)"
                    >
        {{ chip.label }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>