<body class="mat-app-background">
  <div class="grid flex-column">
    <div class="col">
      <Header
        [noteCount]="numberOfNote"
      ></Header>
    </div>
    <div class="col">
      <NavbarControl></NavbarControl>
      <NavbarSort></NavbarSort>
    </div>
    <div class="col-12">
      <Notes
        [noteList]="noteList" 
        (onClickEvent)="addItem($event)"
      ></Notes>
    </div>
    <div class="col">
      <div class="container-button-add flex">
        <ButtonFab 
          icon="add" 
          color="primary" 
          [routerLink]="linkRedirectToAddScreen"
          [ariaLabel]="'NOTE.PAGE_ADD' | translate"
          >
        </ButtonFab>
      </div>
    </div>
  </div>
</body>