<div *ngIf="isReady">
  <hot-snack-bar [openSnackBar]="openSnackBar" [closeSnackBar]="closeSnackBar"></hot-snack-bar>
  <body class="mat-typography mat-app-background">
    <div class="container">
      <div class="row">
        <NoteNavBar>
          <NoteNavBarUpdate (onUpdate)="update()" (onBack)="back()" [spinner]="spinner"></NoteNavBarUpdate>
        </NoteNavBar>
        <div style="padding-bottom: 25px;">
          <hot-input [config]="config_title"></hot-input>
        </div>
        <div>
          <hot-textarea [config]="config_description"></hot-textarea>
        </div>
      </div>
    </div>
  </body>
</div>

<div *ngIf="isReady == false && isErr == true">
  <h1>{{ textErr }}</h1>
</div>

<body class="mat-typography mat-app-background" *ngIf="isReady == false && isErr == false && isLoad == true">
  <h1>Carregando....</h1>
</body>