$color-white: #ffffff;
$color-black: #000;
$color-blue: #428bca;
$color-green: #0c9348;
$color-warn: #ff0000;
$color-warn-lighter: #ffb3b3;
$color-warn-100: #ff0000;
$color-warn-200: #ff0000;
$color-primary: #FF9800;
$color-accent: #ff9800;
$color-primary-100: #b95402;
$color-primary-200: #ce5d00;
$color-primary-500: #f5a319;
$color-field-color: #f4f6fa;

$light-background: $color-white;
$light-text: $color-primary;
$light-card-background: $color-primary-500;

$dark-background: #2c2c2c;
$dark-text: $color-white;
$dark-text-small: #666;
$dark-card-background: #393939;


