@import 'breakpoints.scss';

.mdc-button.mat-primary.mat-mdc-button-base {
  border-radius: $radius-xbig;
}

.mdc-button.mat-accent.mat-mdc-button-base {
  border-radius: $radius-xbig;
}

.mdc-button.mat-warn.mat-mdc-button-base {
  border-radius: $radius-xbig;
}

.mdc-button.mat-unthemed.mat-mdc-button-base {
  border-radius: $radius-xbig;
}

mat-form-field.mat-mdc-form-field.ett-field {
  border-radius: $radius-xbig;
  width: 100%;

  div.mat-mdc-form-field-subscript-wrapper {
    height: 0px;
  }
}

mat-card-content:last-child.mat-text-body {
  padding: 0px; 
  overflow: hidden;              
  display: -webkit-box;          
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 5;        
  line-height: 20px;
  text-overflow: ellipsis;
}