.mdc-button.mat-primary.mat-mdc-button-base {
  border-radius: 7px;
}

.mdc-button.mat-accent.mat-mdc-button-base {
  border-radius: 7px;
}

.mdc-button.mat-warn.mat-mdc-button-base {
  border-radius: 7px;
}

.mdc-button.mat-unthemed.mat-mdc-button-base {
  border-radius: 7px;
}

mat-form-field.mat-mdc-form-field.ett-field {
  border-radius: 7px;
  width: 100%;

  div.mat-mdc-form-field-subscript-wrapper {
    height: 0px;
  }
}