$space-xxsmall:  4px;
$space-xsmall:   8px;
$space-small:    12px;
$space-default:  16px;
$space-xmedium:  24px;
$space-big:      32px;
$space-xbig:     40px;
$space-xxbig:    48px;
$space-huge:     56px;
$space-xhuge:    64px;
$space-xxhuge:   72px;