<body class="mat-typography mat-app-background">
  <SnackBarAlertStatic 
    appAutofocus
    tabindex="0"
    [openSnackBar]="openSnackBar" 
    [closeSnackBar]="closeSnackBar"
  >
  </SnackBarAlertStatic>
  <div class="grid flex-column">
    <div class="col">
      <NavBarItens>
        <ButtonCancat icon="west" left [routerLink]="ROOT" [ariaLabel]="'NOTE.BUTTON_BACK' | translate"></ButtonCancat>
        <div center class="flex flex align-items-center justify-content-center text-default">
          {{ 'NOTE.SUBTITLE_ADD_NEW_NOTE' | translate }}
        </div>
        <ButtonCancat icon="add" right [spinner]="spinner" (onClick)="add()" [ariaLabelSpinner]="'NOTE.BUTTON_SAVING' | translate"  [ariaLabel]="'NOTE.PAGE_ADD' | translate"></ButtonCancat>
      </NavBarItens>
    </div>
    <div class="col">
      <Inputs  
        [title]="config_title.title!"
        [ariaLabel]="config_title.title!"    
        [formControl] = "config_title.formControl"
        [placeholder] = "config_title.placeholder!"
        [erroFill] = "config_title.erroFill!"
        [erroRequired] = "config_title.erroRequired!"
        [isRequired]="true" 
        [minLength]="charactersLong"
    ></Inputs>
    </div>
    <div class="col">
      <Textareas 
        [formControl]="config_description.formControl" 
        [title]="config_description.title"
        [placeholder]="config_description.placeholder!"
        [erroFill]="config_description.erroFill!" 
        [erroRequired]="config_description.erroRequired!" 
        [isRequired]="true" 
        [minLength]="charactersLong"
        [ariaLabel]="config_description.placeholder!"
        [height]="height"
      >
      </Textareas>
    </div>
  </div>
</body>
