@import 'spacing.scss';

form {
    margin-top: $space-default;
}

label {
    display: block;
    margin-bottom: $space-xxsmall;
}

textarea {
    height: 100px;
}

button {
    margin-top: $space-xxsmall;
    cursor: pointer;
}