<div *ngIf="isReady">
  <SnackBar [openSnackBar]="openSnackBar" [closeSnackBar]="closeSnackBar"></SnackBar>
  <body class="mat-typography mat-app-background">
    <div class="ml-small mr-small">
      <div class="container-box">
        <NavBar>
          <ButtonCancat  icon="west" left [routerLink]="ROOT" [ariaLabel]="'NOTE.BUTTON_BACK' | translate"></ButtonCancat>
          <Text center [text]="'NOTE.SUBTITLE_UPDATE_NEW_NOTE' | translate" [tag]="Tag.div" [flex]="Flex.centerAndcenter" [title]="Title.default" [ariaLabel]="'NOTE.SCREEN_UPDATE_NOTE' | translate"></Text>
          <ButtonCancat icon="edit" right [spinner]="spinner" (onClick)="update()" [ariaLabel]="'NOTE.LABEL_UPDATE_THIS_NOTE' | translate"></ButtonCancat>
        </NavBar>
        <div class="pb-xmedium">
          <Inputs
            [ariaLabel]="config_title.title!"    
            [formControl] = "config_title.formControl"
            [placeholder] = "config_title.placeholder!"
            [erroFill] = "config_title.erroFill!",
            [erroRequired] = "config_title.erroRequired!"
          ></Inputs>
        </div>
        <div>
          <Textareas 
            [formControl]="config_description.formControl" 
            [title]="config_description.title" 
            [placeholder]="config_description.placeholder!"
            [erroFill]="config_description.erroFill!" 
            [erroRequired]="config_description.erroRequired!" 
            [isRequired]="true" 
            [minLength]="5"
            [ariaLabel]="config_description.placeholder!"
          ></Textareas>
        </div>
      </div>
    </div>
  </body>
</div>

<div *ngIf="isReady == false && isErr == true">
  <h1>{{ textErr }}</h1>
</div>

<body class="mat-typography mat-app-background container-box" *ngIf="isReady == false && isErr == false && isLoad == true">
  <h1>Carregando....</h1>
</body>