$light-background: #fff;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);
$light-text: #ffffff;
$color-white: #ffffff;
$color-black: #000;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);


$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$ui-density-light: 0;
$color-ui-primary: #FF9800;
$color-ui-accent: #ff9800;
$color-ui-switch-primary: #ff9800;
$color-ui-switch-secudary: #ff9800;
$input-ui-field-color: #f4f6fa;
$color-ui-primary-100: #b95402;
$color-ui-primary-200: #ce5d00;

$color-ui-primary-5: lighten($color-ui-primary, 5%);
$color-ui-primary-10: lighten($color-ui-primary, 10%);
$color-ui-primary-20: lighten($color-ui-primary, 20%);
$color-ui-primary-30: lighten($color-ui-primary, 30%);
$color-ui-primary-40: lighten($color-ui-primary, 40%);

$color-ui-warn: #ff0000;
$color-ui-warn-lighter: #ffb3b3;
$color-ui-warn-100: #ff0000;
$color-ui-warn-200: #ff0000;