<div [ngClass]="'transparent-toolbar'">
  <button mat-icon-button (click)="goBack()" aria-label="Example icon-button with menu icon">
    <mat-icon>west</mat-icon>
  </button>
  <span>Atualizar uma nova notas</span>
  <button mat-icon-button *ngIf="!spinner" (click)="update()" aria-label="Example icon-button with menu icon">
    <mat-icon>
      add
    </mat-icon>
  </button>
  <button mat-icon-button *ngIf="spinner" aria-label="Example icon-button with menu icon">
    <mat-icon>
      <mat-spinner diameter="24"></mat-spinner>
    </mat-icon>
  </button>
</div>
