<div class="container">
  <h1>ButtonRaised</h1>
  <p>
      O <strong>ButtonRaised</strong> é um botão retangular contido com elevação
  </p>

  <h1>Exemplo de Uso</h1>
  <pre>
      <code *ngFor="let code of codes">
          {{ code }}
      </code>
  </pre>

  <h1>Tente você mesmo</h1>
  <ButtonRaised color="primary">
    <div class="flex flex-row flex-wrap align-items-center">
      <Icon fontIcon="home"></Icon>
      <div class="text-medium">
        Texto simples para exemplificar
      </div>  
    </div>
  </ButtonRaised>
</div>