.warn {
    background-color: red;
}


.success {
    background-color: green;
}

.primary {
    background-color: blue;
}

.alert {
    background-color: yellow;
}

.hot-scoreboard {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 0;
    max-height: 15px;
    overflow: hidden;
    transition: opacity 0.5s ease-out, max-height 1s ease;
}

.hot-scoreboard-open {
    opacity: 1;
}

.hot-scoreboard-close {
    opacity: 0;
    max-height: 0px;
    padding: 0px !important;
}