<div class="container">
    <h1>Inputs</h1>
    <p>
        O <strong>Inputs</strong> é um componente que permite ao usuários insiram dados em um campo de texto
    </p>
  
    <h1>Exemplo de Uso</h1>
    <pre>
        <code *ngFor="let code of codes">
            {{ code }}
        </code>
    </pre>
  
    <h1>Tente você mesmo</h1>
    <div *ngIf="config">
        <Inputs 
            [formControl]="config.formControl" 
            [title]="config.title" 
            [placeholder]="config.placeholder"
            [erroFill]="config.erroFill" 
            [erroRequired]="config.erroRequired" 
            [isRequired]="true" 
            [minLength]="5"
        ></Inputs>
        <p>
            Valor de saida: {{config.formControl.getRawValue() | json}}
        </p>
        <button mat-raised-button (click)="reset()">reset</button> 
        <button mat-raised-button (click)="disable()">disable</button> 
        <button mat-raised-button (click)="enable()">enable</button>
    </div>
</div>