<div class="sign-in grid flex-column align-items-center justify-content-center background-blur" style="height: 100vh;">
  <div class="card-size">
    <div class="mat-app-background pt-xxsmall pb-xxsmall">
      <ButtonCancat icon="west" (click)="back()"></ButtonCancat>
    </div>
  </div>
  <Card [appColor]="'--app-neutral-10'"  class="card-size">
    <div>
      <SnackBarAlertStatic     
        [openSnackBar]="openSnackBar" 
        [closeSnackBar]="closeSnackBar"
      >
      </SnackBarAlertStatic>
      <div class="grid flex-column">
        <div class="col">
          <div class="box text-center text-large primary-300 mb-default mt-default">
            Que bom que você voltou
          </div>
        </div>
        <div class="col">
          <Inputs 
            [formControl]="emailUser.formControl" 
            [title]="emailUser.title" 
            [placeholder]="emailUser.placeholder"
            [erroFill]="emailUser.erroFill" 
            [erroRequired]="emailUser.erroRequired" 
            [type]="emailUser.type" 
            [isRequired]="emailUser.isRequired" 
            [minLength]="emailUser.minLength"
          ></Inputs>
        </div>
        <div class="col">
          <Inputs 
            [formControl]="passwordUser.formControl" 
            [title]="passwordUser.title" 
            [placeholder]="passwordUser.placeholder"
            [erroFill]="passwordUser.erroFill" 
            [erroRequired]="passwordUser.erroRequired" 
            [type]="passwordUser.type" 
            [isRequired]="passwordUser.isRequired" 
            [minLength]="passwordUser.minLength"
          ></Inputs>
        </div>
        <div class="col mb-xmedium">
          <ButtonForm label="Entrar na sua conta" [load]="buttonFormLoad" (click)="onSubmit()">
          </ButtonForm>
        </div>
        <div class="col">
          <div class="text-center text-default color-default">
             <span class="primary-300 link" [routerLink]="'/'">Esqueceu a senha?</span>
          </div>
        </div>
      </div>
    </div>
  </Card>
  <Card [appColor]="'--app-neutral-10'" class="card-size mt-default">
    <div class="text-center text-default color-default">
      Não tem uma conta? <span class="primary-300 link" [routerLink]="REGISTER">Cadastre-se</span>
    </div>
  </Card>
</div>