@use '@angular/material' as mat;
@import "../../Style/colors.scss";

$mat-light-theme-foreground: (
  base: $color-black,
  divider: $color-black,
  dividers: $color-black,
  disabled: $color-black,
  disabled-button: $color-black,
  disabled-text: $color-black,
  elevation: $color-black,
  hint-text: $color-black,
  secondary-text: $color-black,
  accent-text: $color-black,
  icon: $color-black,
  icons: $color-black,
  text: $light-text,
  slider-min: $color-black,
  slider-off: $color-black,
  slider-off-active: $color-black,
  sss:$color-black
);

$mat-light-theme-background: (
  background: $color-white,
  status-bar: $color-black,
  app-bar: $color-black,
  hover: $color-black,
  card: $light-card-background,
  dialog: $color-black,
  tooltip: $color-black,
  disabled-button: $color-black,
  raised-button: $color-black,
  focused-button: $color-black,
  selected-button: $color-black,
  selected-disabled-button: $color-black,
  disabled-button-toggle: $color-black,
  unselected-chip: $color-black,
  disabled-list-option: $color-black,
);

$mat-dark-theme-foreground: (
  base: $color-black,
  divider: $color-black,
  dividers: $color-black,
  disabled: $color-black,
  disabled-button: $color-black,
  disabled-text: $color-black,
  elevation: $color-black,
  hint-text: $color-black,
  secondary-text: $color-black,
  accent-text: $color-black,
  icon: $color-black,
  icons: $color-black,
  text: $dark-text,
  slider-min: $color-black,
  slider-off: $color-black,
  slider-off-active: $color-black,
);

$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $color-black,
  app-bar: $color-black,
  hover: $color-black,
  card: $dark-card-background,
  dialog: $color-black,
  tooltip: $color-black,
  disabled-button: $color-black,
  raised-button: $color-black,
  focused-button: $color-black,
  selected-button: $color-black,
  selected-disabled-button: $color-black,
  disabled-button-toggle: $color-black,
  unselected-chip: $color-black,
  disabled-list-option: $color-black,
);

$ui-primary: (
  main: $color-primary,//bottom, label
  lighter: $color-primary,
  darker: $color-primary-100,
  200: $color-primary-200,
  contrast : (main: $color-white,
    lighter: $color-black,
    darker: $color-white,
  )
);

$ui-accent: (
  main: $color-green,
  lighter: $color-primary,
  darker: $color-primary-100,
  200: $color-primary-200,
  contrast : (main: $color-white,
    lighter: $color-black,
    darker: $color-white,
  )
);

$ui-warn: (
  main: $color-warn,
  lighter: $color-warn-lighter,
  darker: $color-warn-100,
  200: $color-warn-200,
  contrast : (main: $color-white,
    lighter: $color-black,
    darker: $color-white,
  )
);

$ui-theme-primary: mat.define-palette($ui-primary, main, lighter, darker);
$ui-theme-accent: mat.define-palette($ui-accent, main, lighter, darker);
$ui-theme-warn: mat.define-palette($ui-warn, main, lighter, darker);

$ui-theme-light: (
  primary: $ui-theme-primary,
  accent: $ui-theme-accent,
  warn: $ui-theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background
);

$ui-theme-dark: (
  primary: $ui-theme-primary,
  accent: $ui-theme-accent,
  warn: $ui-theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);

$laranjinha: mat.define-light-theme($ui-theme-light);
$laranjinha-dark: mat.define-dark-theme($ui-theme-dark);




/**

  custom component Angular Material UI component library

*/


.theme-laranjinha.light {
  @include mat.all-component-themes($laranjinha);
}

.theme-laranjinha.dark {
  @include mat.all-component-themes($laranjinha-dark);
}

.theme-laranjinha.light {
  a.ett-menu-side:hover {
    background-color: $color-primary;
  }

  a.ett-menu-side:link,
  a.ett-menu-side:visited {
    text-decoration: none;
    color: $color-primary;

    mat-icon {
      color: $color-primary;
    }
  }

  a.ett-menu-side.active {
    color: $color-primary;

    mat-icon {
      color: $color-primary;
    }
  }

  .ett-icon {
    color: $color-primary;
  }

  .mat-mdc-button,
  .theme-laranjinha.light .mat-mdc-outlined-button.ett-menu-side {
    --mat-mdc-button-persistent-ripple-color: $color-primary;
  }

  //form field
  mat-form-field.mat-mdc-form-field.ett-field {
    background-color: $color-field-color;

    div.mat-mdc-text-field-wrapper {
      div.mat-mdc-form-field-flex {
        div.mat-mdc-form-field-infix {
          input {
            color: $color-primary;
          }

          mat-select {
            div.mat-mdc-select-trigger {
              div.mat-mdc-select-value {
                span.mat-mdc-select-value-text {
                  span {
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
    }

    div.mat-mdc-form-field-subscript-wrapper {
      height: 0px;
    }
  }

  //textarea
  .mdc-text-field--no-label:not(.mdc-text-field--textarea) 
  .mat-mdc-form-field-input-control.mdc-text-field__input, 
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {

    color: $color-primary;
  }

  mat-form-field.ett-field {
    .mdc-text-field--outlined {
      --mdc-outlined-text-field-outline-width: 1px;
      color: $color-primary;
    }
  }

  //buttom
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-label-text-color: $color-white
  };

  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-label-text-color: $color-white;
  }
  
  .mat-mdc-fab.mat-primary,
  .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-icon-color: $color-white;
    --mat-mdc-fab-color: $color-white;
  }
  
  .mat-mdc-unelevated-button.mat-accent {
    --mdc-filled-button-label-text-color: $color-white;
  }
  
  .mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-label-text-color: $color-white;
  }
  
  .mat-mdc-fab.mat-accent,
  .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-icon-color: $color-white;
    --mat-mdc-fab-color: $color-white;
    color: $color-white;
  }

  .mat-mdc-fab.mat-primary,
  .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-icon-color: $color-white;
    --mat-mdc-fab-color: $color-white;
    color: $color-white;
  }
  
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: $color-white !important;
    background-color: $color-accent !important;
  }

  .mat-mdc-slide-toggle {
    --mdc-switch-selected-handle-color: $color-accent;
    --mdc-switch-selected-pressed-track-color: $color-accent;
    --mdc-switch-selected-focus-state-layer-color: $color-primary;
    --mdc-switch-selected-hover-state-layer-color: $color-primary;
    --mdc-switch-selected-pressed-state-layer-color: $color-primary;
    --mdc-switch-selected-focus-track-color: $color-primary;
    --mdc-switch-selected-hover-track-color: $color-primary;
    --mdc-switch-selected-track-color: $color-primary;
    --mdc-switch-selected-focus-handle-color: $color-primary;
    --mdc-switch-selected-hover-handle-color: $color-primary;
    --mdc-switch-selected-pressed-handle-color: $color-primary;
  }

  mat-card-content:last-child.mat-card-head {
    color: $color-white;
  }

  mat-card-content:last-child.mat-card-body {
    color: $color-white;
  }

  mat-card-content:last-child.mat-card-timestamp {
    color: $color-primary-200;
  }
}

//dark
.theme-laranjinha.dark {
  mat-card-content:last-child.mat-card-timestamp {
    color: $dark-text-small;
  }

  #show-details-files {
    color: $dark-text-small;
  }
}
