<body class="mat-app-background">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-date-input-showcase></app-date-input-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-select-option-showcase></app-select-option-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-text-input-showcase></app-text-input-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-textareas-input-showcase></app-textareas-input-showcase>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-card-showcase></app-card-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-radio-input-showcase></app-radio-input-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-checkbox-input-showcase></app-checkbox-input-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-menu-showcase></app-menu-showcase>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-button-toggle-showcase></app-button-toggle-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-chip-option-showcase></app-chip-option-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-slide-toggle-showcase></app-slide-toggle-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-tabs-showcase></app-tabs-showcase>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-bottom-sheet-showcase></app-bottom-sheet-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-dialog-modal-showcase></app-dialog-modal-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-drawer-showcase></app-drawer-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-snack-bar-position-showcase></app-snack-bar-position-showcase>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-button-stroked-showcase></app-button-stroked-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-button-raised-showcase></app-button-raised-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-button-flat-showcase></app-button-flat-showcase>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
                <app-button-basic-showcase></app-button-basic-showcase>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
            <div class="box border-noround text-center m-0 md:m-1 lg:m-1">

            </div>
        </div>
    </div>
</body>