@import 'breakpoints.scss';

.toolbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
  
.mat-drawer {
    width: 20%;
}

@media (max-width: $tablet) {
    .mat-drawer {
        width: 50%;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
}

.nowrap-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.drawer-content {
    z-index: 50;
    padding: 16px;
}

.height-fixed {
    height: 100vh;
}