<mat-toolbar [ngClass]="'transparent-toolbar'">
  <span class="nav-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>sort</mat-icon>
    <span>Data da modificação</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>title</mat-icon>
      <span>Title</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      <span>Data de criação</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>edit_calendar</mat-icon>
      <span>Data da modificação</span>
    </button>
  </mat-menu>
  <button mat-icon-button class="nav-icon" aria-label="Example icon-button with share icon">
    <mat-icon>south</mat-icon>
  </button>
</mat-toolbar>