.nav-spacer {
    flex: 1 1 auto;
}

.transparent-toolbar {
    background-color: transparent !important;
    align-items: center;
}

.name {
    font-size: 18px;
    width: auto;
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}