<body class="mat-typography mat-app-background">
  <div class="mx-3">
    <div class="container-box" *ngIf="isReady">
      <NavBar>
        <ButtonCancat icon="west" left routerLink="/"></ButtonCancat>
        <ButtonCancat icon="delete" center  (onClick)="delete()"></ButtonCancat>
        <ButtonCancat icon="edit" right  (onClick)="edit()"></ButtonCancat>
      </NavBar>
      <h1>
        <b>{{ note.title }}</b>
      </h1>
      <br /> <br />
      <p>
        {{ note.text }}
      </p>
    </div>
  </div>
</body>

<div *ngIf="isReady == false && isErr == true" class="mat-typography mat-app-background container-box">
  <h1>{{ textErr }}</h1>
</div>

<div *ngIf="isReady == false && isErr == false && isLoad == true" class="mat-typography mat-app-background container-box">
  <h1>Carregando....</h1>
</div>