<body class="mat-typography mat-app-background">
  <div class="mx-3">
    <div class="container-box" *ngIf="isReady">
      <NavBar>
        <ButtonCancat icon="west" left [routerLink]="ROOT" [ariaLabel]="'NOTE.BUTTON_BACK' | translate"></ButtonCancat>
        <ButtonCancat icon="delete" center  (onClick)="delete()" [ariaLabel]="'NOTE.BUTTON_DELETE' | translate"></ButtonCancat>
        <ButtonCancat icon="edit" right  (onClick)="edit()" [ariaLabel]="'NOTE.SUBTITLE_UPDATE_NEW_NOTE' | translate"></ButtonCancat>
      </NavBar>
      <div [attr.aria-label]="'NOTE.LABEL_NAME_TITLE_NOTE' | translate" tabindex="0">
        <Text [text]="note.title" [tag]="Tag.div" [flex]="Flex.justifyContentStart" [title]="Title.default"  class="mb-default"></Text>
      </div>
      <div [attr.aria-label]="'NOTE.LABEL_NAME_DESCRIPTION_NOTE' | translate" tabindex="0">
        <Text [text]="note.text" [tag]="Tag.div" [flex]="Flex.justifyContentStart" [title]="Title.small"></Text>
      </div>
    </div>
  </div>
</body>

<div *ngIf="isReady == false && isErr == true" class="mat-typography mat-app-background container-box">
  <Text [text]="textErr" [tag]="Tag.h1" [flex]="Flex.justifyContentStart" [title]="Title.small"></Text>
</div>

<div *ngIf="isReady == false && isErr == false && isLoad == true" class="mat-typography mat-app-background container-box">
  <h1>{{ 'NOTE.LABEL_LOADING' | translate }}</h1>
</div>