<div *ngIf="isReady">
    <mat-form-field appearance="outline" class="ett-field">
        <mat-label>{{ config.title }}</mat-label>
        <input 
            matInput 
            [formControl]="config.formControl"
            [placeholder]="config.placeholder!"
            [value]="config.valueDefault"
        >
        <mat-error *ngIf="config.formControl.hasError('required') && config.formControl.touched">
            {{ config.erroRequired }}
        </mat-error>
        <mat-error *ngIf="config.formControl.hasError('minlength') && config.formControl.touched">
            {{ config.erroFill }}
        </mat-error>
    </mat-form-field>
</div>