<body class="mat-typography mat-app-background">
  <div class="container-box">
    <div class="row title">
      Note Beans
    </div>
    <div class="row mb-3 sub-title">
      1 Folders, 24 note
    </div>
    <div>
      <NoteCardListAll 
        [noteList]="noteList" 
        (newItemEvent)="addItem($event)" 
        (viewItemEvent)="viewItem($event)"
        >
      </NoteCardListAll>
    </div>
    <div class="container-button-add flex">
      <button mat-fab color="primary" routerLink="/note/add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</body>