<body class="mat-app-background">
  <div class="container-box">
    <div class="flex align-items-center justify-content-center mb-5 pt-5 title-large-huge">
      Note Beans
    </div>
    <div id="show-details-files" class="flex align-items-center justify-content-center mb-3 title-medium">
      1 Folders, 24 note
    </div>
    <div>
      <NoteCardListAll 
        [noteList]="noteList" 
        (newItemEvent)="addItem($event)" 
        (viewItemEvent)="viewItem($event)"
        >
      </NoteCardListAll>
    </div>
    <div class="container-button-add flex">
      <button mat-fab color="primary" routerLink="/note/add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</body>