<div class="container">
    <h1>ExpansionPanel</h1>
    <p>
        O <strong>ExpansionPanel</strong> é um componente de interface do usuário (UI) que permite ao usuário fornece uma visão resumida de detalhes expansível.
    </p>
  
    <h1>Exemplo de Uso</h1>
    <pre>
        <code *ngFor="let code of codes">
            {{ code }}
        </code>
    </pre>
  
    <h1>Tente você mesmo</h1>
    <ExpansionPanel>
        <mat-icon title color="warn" style=" transform: scale(0.6);">circle</mat-icon>
        <span description>Informações do usuario</span>    
        <span content>Descricao da informacao do usuario</span>
    </ExpansionPanel>
</div>