<div class="mr-extra ml-extra"></div>

<div class="m-xxsmall">
    <div *ngIf="user" style="padding-bottom: 20px;">
        <MenuProfile [name]="'Olá, '+user.user_name" (onClick)="goPageProfile()"></MenuProfile>
    </div>
    <ListLanguage></ListLanguage>
    <div class="mb-xmedium ">
        <ModeThemeFlip></ModeThemeFlip>
    </div>
    <button *ngIf="!user" mat-stroked-button [routerLink]="SIGN_IN" style="width: 100%; height: 55px;">
        Faça login com a email/senha 
    </button>
</div>