@import 'spacing.scss';

.transparent-toolbar {
    background-color: transparent !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $space-default;;
    padding-top: $space-default;;
}

span {
    font-weight: bold;
}