<div class="container">
  <h1>ButtonFlat</h1>
  <p>
      O <strong>ButtonFlat</strong> é um botão retangular contido sem elevação
  </p>

  <h1>Exemplo de Uso</h1>
  <pre>
      <code *ngFor="let code of codes">
          {{ code }}
      </code>
  </pre>

  <h1>Tente você mesmo</h1>
  <ButtonFlat color="primary">
    <div class="flex flex-row flex-wrap align-items-center">
      <Icon fontIcon="home"></Icon>
      <div class="text-medium">
        Texto simples para exemplificar
     </div>  </div>
  </ButtonFlat>
</div>
