.transparent-toolbar {
    background-color: transparent !important;
}

mat-toolbar, .nav-folder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: flex-start;
    margin-left: 10px;
    
    .folder {
        font-size: 18px;
        width: auto;
        font-weight: bolder;
        background-color: transparent;
        border-color: transparent;
        padding: 0;
        margin: 0;
        color: #666;
    }

    .arrow {
        font-size: 18px;
        width: auto;
        font-weight: bolder;
        background-color: transparent;
        border-color: transparent;
        padding: 0;
        margin: 0;
        color: #999;
    }

    .name {
        font-size: 18px;
        width: auto;
        font-weight: bolder;
        background-color: transparent;
        border-color: transparent;
        padding: 0;
        margin: 0;
        color: #666;
    }
}