<mat-toolbar [ngClass]="'transparent-toolbar'">
  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>    
      Nova pasta
    </mat-chip-option>
  
    <mat-chip-option>    
      Excluir
    </mat-chip-option>
  
    <mat-chip-option>    
      Renomear
    </mat-chip-option>
  
    <mat-chip-option>    
      Copiar
    </mat-chip-option>
  
    <mat-chip-option>    
      Mover
    </mat-chip-option>

    <mat-chip-option>    
      info
    </mat-chip-option>
  </mat-chip-listbox>
</mat-toolbar>