<div class="container">
  <h1>ButtonBasic</h1>
  <p>
      O <strong>ButtonBasic</strong> é um botão de texto retangular sem elevação e cantos arredondados
  </p>
  
  <h1>Exemplo de Uso</h1>
  <pre>
      <code *ngFor="let code of codes">
          {{ code }}
      </code>
  </pre>
  
  <h1>Tente você mesmo</h1>
  <ButtonBasic color="primary">
    <div class="flex flex-row flex-wrap align-items-center">
      <Icon fontIcon="home"></Icon>
      <div class="text-medium">
        Texto simples para exemplificar
      </div>  
    </div>
  </ButtonBasic>
</div>