<mat-toolbar [ngClass]="'transparent-toolbar'">
  <button mat-icon-button class="nav-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Todas as notas</span>
  <span class="nav-spacer"></span>
  <button mat-icon-button class="nav-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="nav-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="nav-icon" aria-label="Example icon-button with share icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
