<body class="mat-app-background">


<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <Paginator></Paginator>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ProgressBar></ProgressBar>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          <Spinner></Spinner>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ExpansionPanel></ExpansionPanel>
      </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <Slider></Slider>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <Icon></Icon>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
    <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
      <Text text="Texto simples para exemplificar" [tag]="Tag.div" [flex]="Flex.justifyContentStart" [title]="Title.default"  class="mb-default"></Text>
      <Text text="Texto simples para exemplificar" [tag]="Tag.div" [flex]="Flex.justifyContentStart" [title]="Title.small"  class="mb-default"></Text>
      <Text text="Texto simples para exemplificar" [tag]="Tag.div" [flex]="Flex.justifyContentStart" [title]="Title.medium"  class="mb-default"></Text>
  </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
      </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ButtonFab icon="add"></ButtonFab>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          <ButtonIcon icon="add"></ButtonIcon>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          <ButtonIconSpinner></ButtonIconSpinner>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
    <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
      <ButtonCancat icon="add" [spinner]="spinner" (onClick)="add()" ></ButtonCancat>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <NavBar>
          <ButtonCancat icon="west" left  ></ButtonCancat>
          <ButtonCancat icon="delete" center   ></ButtonCancat>
          <ButtonCancat icon="add" right [spinner]="spinner" (onClick)="add()" ></ButtonCancat> 
        </NavBar>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          <SnackBar     [openSnackBar]="openSnackBar" 
          [closeSnackBar]="closeSnackBar"></SnackBar>
          <button (click)="sucsessSnackBar()">Sucesso</button><br/>
          <button (click)="errSnackBar()">Error</button><br/>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        
      </div>
  </div>
</div>


<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
          <ButtonBasic color="primary">
            <div class="flex flex-row flex-wrap align-items-center">
              <Icon></Icon>
              <Text text="Texto simples para exemplificar" [tag]="Tag.div" [title]="Title.medium"></Text>
            </div>
          </ButtonBasic>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ButtonRaised color="primary">
          <div class="flex flex-row flex-wrap align-items-center">
            <Icon></Icon>
            <Text text="Texto simples para exemplificar" [tag]="Tag.div" [title]="Title.medium"></Text>
          </div>
        </ButtonRaised>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ButtonStroked color="primary">
          <div class="flex flex-row flex-wrap align-items-center">
            <Icon></Icon>
            <Text text="Texto simples para exemplificar" [tag]="Tag.div" [title]="Title.medium"></Text>
          </div>
        </ButtonStroked>
      </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 py-3 p-0 md:p-1 lg:p-1">
      <div class="box border-noround text-center m-0 md:m-1 lg:m-1">
        <ButtonFlat color="primary">
          <div class="flex flex-row flex-wrap align-items-center">
            <Icon></Icon>
            <Text text="Texto simples para exemplificar" [tag]="Tag.div" [title]="Title.medium"></Text>
          </div>
        </ButtonFlat>
      </div>
  </div>
</div>

</body>
