<div class="container">
    <h1>typography</h1>
    <p>
        A <strong>typography</strong>  é um componente de design que se refere à forma como o texto é apresentado em uma interface de usuário. Ela inclui características como:
        <li>Fonte (familia, tamanho, estilo)</li>
        <li>Cor</li>
        <li>Alinhamento</li>
        <li>Espaçamento entre linhas</li>
        <li>Tamanho de parágrafo</li>
    </p> 

    <h1>Exemplo de Uso</h1>
    <pre>
        <code *ngFor="let code of codes">
            {{ code }}
        </code>
    </pre>

    <h1>Tente você mesmo</h1>
    <div appPrimaryColor class="text-small flex justify-content-start">
        Texto simples para exemplificar
    </div>
    <div class="text-small flex justify-content-start">
        Texto simples para exemplificar
    </div>

    <div class="text-default  flex justify-content-start">
        Texto simples para exemplificar
    </div>

    <div class="text-medium flex justify-content-start">
        Texto simples para exemplificar
    </div>
</div>