@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap');

$font-family: 'Comfortaa', sans-serif;

* {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
}

.grid {
  margin-right: 0rem;
  margin-left: 0rem;
}

.box {
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  margin: .5rem;
}

.container-box {
  height: 100vh;
}