<!-- Seu componente HTML para visualização (por exemplo, notes-view.component.html) -->

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ date.title }}</h5>
      <p class="card-text">{{ date.text }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Posição Atual: {{ date.current_position }}</li>
        <li class="list-group-item">Favorito: {{ date.is_favorite ? 'Sim' : 'Não' }}</li>
        <li class="list-group-item">Timestamp: {{ date.timestamp }}</li>
      </ul>
    </div>
  </div>
</div>
