@use '@angular/material' as mat;

radio-ng-model-example {
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .density-settings-1 {
    @include mat.radio-density(-1);
  }

  .density-settings-2 {
    @include mat.radio-density(-2);
  }

  .density-settings-3 {
    @include mat.radio-density(-3);
  }
}
